body {
    background-color: #1E1E2C;
    color: white;
    font-family:Titillium Web;
}

h1 {
    font-family:Titillium Web;
}

h2 {
    font-family:Titillium Web;
}

#welcome-header {
    top: 0;
    left: 0;
    font-size: 28px;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

#menu-buttons-wrapper {
    height: 30vh;
    background-color: red;
    text-align: center;
    padding: 25px;
}

#main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.main-menu-btn {
    display: block;
    height: 60px;
    width: 200px;
    background-color: #353543;
    margin: 0 auto;
    margin-top: 1em;
    line-height: 60px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6);
}

#recent-designs-section {
    width: 100%;
    justify-content: center;
    align-items: center;   
    padding-left: 60px;
    padding-right: 20px;

}

#recent-design-card {
    display: inline-block;
    width: 275px;
    height: 325px;
    margin-left: 1em;
}

.card-body {
    background-color: #2A2C3E;
    border-radius: 0px 0px 5px 5px;
}

#section-header {
    font-size: 28px;
    margin-left: 1em;
}

.top-section {
    padding: 10px;
    height: 50px;
    width: 100%;
}

#design-search {
    background-color: #272736;
    border-color: transparent;
    padding: 15px;
    color: white;
    height: 60px;
}

#search-icon {
    background-color: #272736;
    border-color: transparent;
    font-size: 40px;
    padding: 10px;
    height: 60px;
}

#search-field {
    width: 600px;
    margin: 0 auto;
}

#left-section {
    width: 30vw;
    height: 100vh;
    background-color: #0B0B0C;
    float: left;
    padding: 15px;
    top: 0;
    text-align: center;
}

#right-section {
    height: 100vh;
    left: 30%;
    width: 70%;
    display: inline-block;
    padding: 15px;
    
}

#my-design-search-field {
    width: 25vw;
    margin: 0 auto;
}

#my-search-icon {
    font-size: 40px;
    background-color: #272736;
    border-radius: 5px;
    height: 55px;
    line-height: 55px;
}

#my-design-search {
    background-color: #272736;
    width: 75px;
    border-radius: 5px;
    color: white;
    padding: 15px;
}

.my-design {
    height: 50px;
    width: 100%;
    background-color: #2A2C3E;
    border-radius: 15px;
    text-align: left;
    line-height: 50px;
    padding-left: 25px;
    margin-top: 1em;
}

.my-design-disabled {
    height: 50px;
    width: 100%;
    background-color: #1d1e25;
    border-radius: 15px;
    text-align: left;
    line-height: 50px;
    padding-left: 25px;
    margin-top: 1em;
}

.my-design:hover {
    background-color: #A6AFFA;
}

.design-display {
    height: 70vh;
    width: 40vw;
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

#display-image {
    display: block;
    margin: 0 auto;
    height: 30vh;
}

.design-description {
    width: 40vw;
    margin: 0 auto;
}

#design-title {
    font-size: 28px;
    float: left;
}

#design-date {
    font-size: 18px;
    color: #c4c4c4;
    float: right;
    padding-top: 10px;;
}

.design-control-btn {
    height: 75px;
    width: 13vw;
}

#edit-btn {
    background-color: #8D8DD8;
    border-color: transparent;

}

#share-btn {
    background-color: #8EBC69;
    border-color: transparent;

}

#delete-btn {
    background-color: #CD3434;
    border-color: transparent;
}

#modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;

}

#modal-wrapper {
    position: fixed;
    top: 17%;
    width: 100%;
    z-index: -1;
}


#pen-modal-wrapper {
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: -1;
}

#color-modal {
    width: 20vw;
    background-color: white;
    opacity: 1;
    border-radius: 5px 0px 0px 5px;
    color: black;
    padding: 10px;
    display: block;
    position: fixed;    
    top: 15%;
    right: 0;
    float: right;
    -webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6);
}

#color-select-header {
    font-size: 18px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #c4c4c4;
}

#close-btn {
    height: 40px;
    width: 80px;
    margin-top: 2em;
}

#design-information {
    top: 0;
    right: 0;
    position: fixed;
    padding: 15px;
}

#last-saved-info {
    color: #c4c4c4;
    font-family:Titillium Web;
}

#color-display {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 25px;
    display: inline-block;
}

#switch {
    float: right;
}

#pen-modal {
    width: 20vw;
    background-color: white;
    opacity: 1;
    border-radius: 5px 0px 0px 5px;
    color: black;
    padding: 15px;
    display: block;
    float: right;
    position: fixed;    
    top: 38%;
    right: 0;
    -webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6);
    
}

#tool-display {
    display: inline-block;
    height: 30px;
    width: 30px;
}

#stroke-display {
    width: 100%;
    height: 1px;
    margin-top: 1em;
    color: black;
    border-bottom: 1px solid black;
}

#stroke-slider {
    display: inline-block;
    width: 100%;
}

#stroke-value {
    background-color: transparent;
    border: none;
}

#setting-name {
    margin-top: 5px;
    display: inline-block;
}

#sidebar-icon {
    color: white;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    font-size: 50px;
    margin-left: 15px;
    display: block;
}

#disabled-sidebar-icon {
    color: #A2A2A2;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    font-size: 50px;
    margin-left: 15px;
    display: block;
}