{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>P3 Coloring</title>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="../../static/coloring/main.css" />
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<style type="text/css">
		#color-palette {
			width: 250px;
			display: flex;
			flex-wrap: wrap;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 10%;
			background-color: white;
			border-radius: 5px;
			-webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6); 
    		box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.6);
		}

		* {
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			font-family: sans-serif;
		}

		#sidebar {
			position: absolute;
			top: 0px;
			left: -75px;
			width: 75px;
			height: 100%;
			margin-right: 0px;
			background: #151719;
			transition: all 300ms linear;
		}

		#sidebar.active {
			left: 0px;
		}

		#sidebar .toggle-btn {
			position: absolute;
			left: 75px;
			top: 950px;
		}

		#sidebar .toggle-btn span {
			display: block;
			width: 30px;
			height: 5px;
			background: #151719;
			margin: 5px 0px;
			cursor: pointer;
		}

		#sidebar div.list div.item {
			padding: 15px 10px;
			border-bottom: 1px solid #444;
			color: #fcfcfc;
			text-transform: uppercase;
			font-size: 15px;
		}


		.image-upload>input {
			display: none;
		}

		.image-upload img {
			cursor: pointer;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		var mode = 'FILL_MODE';
		var strokeWidth = 1;
		var penColor = '#000000';
		var eraser = false;
		window.onload = function () {
			var canvas = document.getElementById('myCanvas');
			
			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			// color palette
			var cp_pen = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}


			function myCustomInteraction() {
				var tool = new paper.Tool();
				var path;
				tool.onMouseDown = function (event) {
					if (mode == 'FILL_MODE') {
						var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
						if (hit) {
							// Color pallette keeps track of the full history of colors, though we
							// only color in with the most-recent color.
							hit.item.fillColor = cp.history[cp.history.length - 1];
							if (eraser) {
								hit.item.fillColor = 'white';
							}
						}
					} else {
						path = new paper.Path();
						path.strokeColor = penColor;
						if (eraser) {
							path.strokeColor = 'white';
						}
						path.strokeWidth = strokeWidth;
						path.add(event.point);
					}	
				}
				tool.onMouseDrag = function (event) {
					if (mode == 'PEN_MODE') {
						path.add(event.point);
					}
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors) {

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
						.addClass("swatch");
					$swatch.click(function () {
						// add color to the color palette history
						cp.history.push($(this).css("background-color"));
						$('#color-display').css('background-color', $(this).css("background-color"));
						penColor = $(this).css("background-color");
					});

					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette() {
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function (colors) {
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom) {
				paper.setup(canvas);
				getColorsCreatePalette();
				myCustomInteraction();
			}
			$('#color-modal').hide();
			$('#pen-modal').hide();
			$('#pen-icon').hide();
			$('#eraser-icon').hide();

			// Eraser handler
			$('#eraser-btn').click(function() {
				//cp.history.push('#ffffff');
				eraser = true;
				$('#eraser-icon').show();
				$('#pen-icon').hide();
				$('#fill-icon').hide();
			});



			// Set up the mandala interactivity.
			init(true);
		}

		var dir = true;
		function toggleSidebar(ref) {
			document.getElementById("sidebar").classList.toggle('active');
			if (dir) {
				document.getElementById('arrow').src = "https://i.ibb.co/rvZJLkH/image-15.png";
				dir = false;
			} else {
				document.getElementById('arrow').src = "https://i.ibb.co/mGQFx0K/image-17.png";
				dir = true;
			}

		}


	</script>
</head>

<body>
	<div id="sidebar">
		<div class="toggle-btn" onclick="toggleSidebar(this)">

			<img id="arrow" src="https://i.ibb.co/mGQFx0K/image-17.png"
				style="width: 50px; height: 50px; margin-left: 10px">
		</div>
		<div class="list">
			<a href="http://localhost:8000/coloring/home" style="text-decoration: none;"">
				<span class="material-icons material-icons-outlined" id="sidebar-icon">
					home
				</span>
			</a>
			<a id="color-btn">
				<span class="material-icons material-icons-outlined" id="sidebar-icon">
					format_paint
				</span>
			</a>
			<a id="pen-btn">
				<span class="material-icons material-icons-outlined" id="sidebar-icon">
					edit
				</span>
			</a>
		
			
			<span class="material-icons material-icons-outlined" id="disabled-sidebar-icon">
				touch_app
				</span>
			<a id="eraser-btn">
				<span class="material-icons material-icons-outlined" id="sidebar-icon">
					auto_fix_high
				</span>
			</a>
			

			<a href="https://unsplash.com/" style="text-decoration: none;">
				<span class="material-icons material-icons-outlined" id="sidebar-icon">
					lightbulb
				</span>
			</a>


			<span class="material-icons material-icons-outlined" id="disabled-sidebar-icon">
				help_outline
				</span>
			<span class="material-icons material-icons-outlined" id="disabled-sidebar-icon">
				star_outline
				</span>
			<span class="material-icons material-icons-outlined" id="disabled-sidebar-icon">
				zoom_in
				</span>


			<div class="image-upload">
				<label for="file-input">
					<span class="material-icons material-icons-outlined" id="sidebar-icon">
						upload_file
					</span>
				</label>
				<input id="file-input" type="file"/>
			</div>
		</div>
	</div>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>

	<div id="design-information">
		<h1>New Design</h1>
		<p id="last-saved-info">Last saved at 9:58 AM</p>
		<div id="color-display">
		</div>
		<div id="tool-display">
			<span class="material-icons material-icons-outlined" id="eraser-icon">
                auto_fix_high
            </span>
			<span class="material-icons material-icons-outlined" id="pen-icon">
				edit
			</span>
			<span class="material-icons material-icons-outlined" id="fill-icon">
				format_color_fill
			</span>
				
		</div>
	</div>

		<div id="color-modal">
			<h2 id="color-select-header">Colors</h2>
			<div id="color-palette"></div>
			<a>
				<button id="close-btn" type="button" class="btn btn-primary">Close</button>
			</a>
		</div>

		<div id="pen-modal">
			<h2 id="color-select-header">Pen Settings</h2>
			<p id="setting-name">Stroke width - </p>
			<output id="width-size">1</output>
			<input id="stroke-slider" type="range" class="form-range" value="1" min="1" max="24" oninput="this.previousElementSibling.value = this.value">
			<br/>
			<div id="stroke-display">

			</div>
			<br/>
			<a>
				<button id="pen-close-btn" type="button" class="btn btn-primary">Close</button>
			</a>
		</div>



	<script>
		// Modal Controls.
		$("#color-btn").click(function () {
			mode = 'FILL_MODE';
			eraser = false;
			$('#pen-icon').hide();
			$('#eraser-icon').hide();
			$('#fill-icon').show();
			$('#color-modal').show();
		});

		$("#close-btn").click(function () {
			$('#color-modal').hide();
		});


		$('#pen-btn').click(function() {
			mode = 'PEN_MODE';
			eraser = false;
			$('#fill-icon').hide();
			$('#eraser-icon').hide();
			$('#pen-icon').show();
			$('#pen-modal').show();
		});

		$("#pen-close-btn").click(function () {
			$('#pen-modal').hide();
		});

		
		

		$('#switch').click(function() {
			if (mode == 'PEN_MODE') {
				mode = 'FILL_MODE';
				$('#pen-icon').hide();
				$('#fill-icon').show();
			} else {
				mode = 'PEN_MODE';
				$('#fill-icon').hide();
				$('#pen-icon').show();
			}
		})

		$('#stroke-slider').on('input', function() {
			strokeWidth = $('#stroke-slider').val();
			$('#stroke-display').css('border-bottom',$('#stroke-slider').val() + 'px solid black' )
		})
	</script>
</body>

</html>